<div id="home"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container" id="home">
    <a class="navbar-brand" href="#"><img class="img-fluid img-thumbnail boder-0 logo"
        src="../../assets/images/logo.png" alt=""></a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" *ngFor="let item of navBar">{{ item.title }}</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#body">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#product">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
